<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover scroll">
        <thead class="thead-light">
            <tr>
                <th>Vehículo</th>
                <th>Gasto total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>M276670</td>
                <td>14,407.82</td>
            </tr>
            <tr>
                <td>PDG7426</td>
                <td>1,783.95</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
            <tr>
                <td>PDZ3286</td>
                <td>100.00</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm">
        <tbody>
            <tr>
                <td class="text-center font-weight-bold">
                    Total:
                </td>
                <td>
                    16,291.77
                </td>
            </tr>
        </tbody>
        <caption>Gastos vehiculares del mes de Junio, 2021</caption>
    </table>
</div>