
@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table.scroll thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    table.scroll tbody {
        display: block;
        height: 225px !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<div class="row">
    <div class="col-12 col-md-6 form-group">
        <h2>Reportes de vehículos</h2>
    </div>
    <div class="col-12 col-md-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent shadow">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Vehículos</li>
            </ol>
        </nav>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 col-lg-6 form-group">
        <div class="row">
            <div class="col-6 form-group">
                <div class="card" style="height: 250px;">
                    <div class="card-header">
                        <i class="fa fa-wrench"></i>
                        Mantenimientos próximos
                    </div>
                    <div class="card-body pb-0">
                        <div id="carouselExampleIndicators" class="carousel slide h-100" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-dark"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-dark"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-dark"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <label>Vehículo: <span>M276670</span></label> <br />
                                    <label>Rubro: <span>Amortiguadores</span></label>
                                </div>
                                <div class="carousel-item">
                                    <label>Vehículo: <span>M276670</span></label> <br />
                                    <label>Rubro: <span>Aire acondicionado</span></label>
                                </div>
                                <div class="carousel-item">
                                    <label>Vehículo: <span>PDG7426</span></label> <br />
                                    <label>Rubro: <span>Fricciones delanteras</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info btn-sm">
                            Mas detalles <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="height: 250px">
                    <div class="card-header">
                        <i class="fa fa-truck"></i>
                        Vehículos
                    </div>
                    <div class="card-body">
                        <h5>Asignados <span class="badge badge-success">5</span></h5>
                        <h5>Sin asignar <span class="badge badge-warning">6</span></h5>
                        <hr />
                        <h5>Total <span class="badge badge-primary">11</span></h5>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Control", "Vehicles")" class="btn btn-info btn-sm">
                            Mas detalles <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6 offset-6">
                <div class="card" style="height: 250px">
                    <div class="card-header">
                        Lorem
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-info btn-sm">
                            Mas detalles <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card" style="height: 515px">
            <div class="card-header">
                <i class="fa fa-money"></i>
                Costos mensuales
            </div>
            <div class="card-body">
                @{ 
                    Html.RenderPartial("_MonthlyCostsVehicles");
                }
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-info btn-sm">
                    Mas detalles <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>